@charset "utf-8";

body{
  color:white;
}

img{
  border-width: 0px;
}

pre{
  background-color: #ffffff;
}

a:link{
  text-decoration: none;
  color: #000000;
}
a:hover{
  text-decoration: underline;
  color: #000000;
}
a:visited{
  text-decoration: none;
  color: #000000;
}

#holder {
  width:         auto;
  min-height:    600px;
  min-width:     600px;
  margin-top:    20px;
  margin-left:   20px;
  margin-right:  20px;
  padding:       10px;
}

//#new-auction-box {
//  position:     relative;
//  width:        600px;
//  margin-left:  auto;
//  margin-right: auto;
//  text-align:   center;
//}

#profile-box {
  float:      left;
  margin-top: 10px;
  width:      300px;
  height:     120px;
}
#mcface {
  margin-left:    15px;
  margin-right:   15px;
  vertical-align: middle;
}

#title-box {
  width:         300px;
  height:        120px;
  margin-top:    -20px;
  margin-bottom: 30px;
  margin-left:   auto;
  margin-right:  auto;
  text-align:    center;
}

#menu-box {
  float:         right;
  margin-top:    10px;
  padding-right: 10px;
  width:         200px;
  height:        120px;
  text-align:    right;
  font-size:     18px;
}

#createauctionTable{
  margin-top:     -50px;
  margin-left:    auto;
  margin-right:   auto;
  width:          550px;
  border-width:   medium;
  border-style:   solid;
  border-color:   #333333;
  border-radius:  11px;
  -moz-border-radius: 11px;
  background-color: #EBEDFF;
}

.input, button {
  padding-left:   10px;
  padding-right:  10px;
  padding-top:    5px;
  padding-bottom: 5px;
  background-color: #FAFFBD;
  border-width:   medium;
  border-style:   solid;
  border-color:   #333333;
  border-radius:  6px;
  -moz-border-radius: 6px;
  font-family:    "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size:      18px;
}
.input:hover {
  background-color: #CFD3FD;
//  border-color: #CD9D3F;
}

.select {
  border-width:  medium;
  border-style:  solid;
  border-color:  #333333;
  border-radius: 6px;
  -moz-border-radius: 6px;
  font-family:   "Trebuchet MS", Arial, Helvetica, sans-serif;
//  font-size:     18px;
}

.button {
  padding-left:  10px;
  padding-right: 10px;
  background-color: #FAFFBD;
  border-width:  medium;
  border-style:  solid;
  border-color:  #333333;
  border-radius: 6px;
  -moz-border-radius: 6px;
  font-family:   "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size:     18px;
  text-decoration: none;
}
.button:hover {
  background-color: #CFD3FD;
//  border-color: #CD9D3F; #D2A454;
  text-decoration: none;
}

label {
  width:       200px;
  text-align:  left;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size:   18px;
}

table.display {
  text-align: center;
}

.display_custom_name {
  color: #aa00aa;
}
.display_lore {
  color: #aa00aa;
}
