@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?-87dfmt');
	src:url('icomoon.eot?#iefix-87dfmt') format('embedded-opentype'),
		url('icomoon.ttf?-87dfmt') format('truetype'),
		url('icomoon.woff?-87dfmt') format('woff'),
		url('icomoon.svg?-87dfmt#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-not_interested:before {
	content: "\e017";
}
.icon-forum:before {
	content: "\e04d";
}
.icon-textsms:before {
	content: "\e061";
}
.icon-add:before {
	content: "\e069";
}
.icon-add_circle_outline:before {
	content: "\e06c";
}
.icon-flag:before {
	content: "\e077";
}
.icon-link:before {
	content: "\e07b";
}
.icon-redo:before {
	content: "\e07e";
}
.icon-undo:before {
	content: "\e08a";
}
.icon-format_align_center:before {
	content: "\e0ce";
}
.icon-format_align_justify:before {
	content: "\e0cf";
}
.icon-format_align_left:before {
	content: "\e0d0";
}
.icon-format_align_right:before {
	content: "\e0d1";
}
.icon-format_bold:before {
	content: "\e0d2";
}
.icon-format_clear:before {
	content: "\e0d3";
}
.icon-format_color_fill:before {
	content: "\e0d4";
}
.icon-format_color_text:before {
	content: "\e0d6";
}
.icon-format_indent_decrease:before {
	content: "\e0d7";
}
.icon-format_indent_increase:before {
	content: "\e0d8";
}
.icon-format_italic:before {
	content: "\e0d9";
}
.icon-format_list_bulleted:before {
	content: "\e0db";
}
.icon-format_list_numbered:before {
	content: "\e0dc";
}
.icon-format_quote:before {
	content: "\e0de";
}
.icon-format_size:before {
	content: "\e0df";
}
.icon-format_strikethrough:before {
	content: "\e0e0";
}
.icon-format_underlined:before {
	content: "\e0e3";
}
.icon-insert_drive_file:before {
	content: "\e0e7";
}
.icon-insert_emoticon:before {
	content: "\e0e8";
}
.icon-insert_photo:before {
	content: "\e0eb";
}
.icon-mode_edit:before {
	content: "\e0ee";
}
.icon-attachment:before {
	content: "\e0f7";
}
.icon-hdr_strong:before {
	content: "\e183";
}
.icon-hdr_weak:before {
	content: "\e184";
}
.icon-movie_creation:before {
	content: "\e196";
}
.icon-arrow_drop_down:before {
	content: "\e201";
}
.icon-arrow_drop_up:before {
	content: "\e203";
}
.icon-notifications:before {
	content: "\e24a";
}
.icon-people:before {
	content: "\e251";
}
.icon-person:before {
	content: "\e253";
}
.icon-poll:before {
	content: "\e257";
}
.icon-share:before {
	content: "\e25a";
}
.icon-code:before {
	content: "\e284";
}
.icon-grade:before {
	content: "\e299";
}
.icon-home:before {
	content: "\e29e";
}
.icon-note_add:before {
	content: "\e2b0";
}
.icon-room:before {
	content: "\e2c8";
}
.icon-search:before {
	content: "\e2ca";
}
.icon-thumb_up:before {
	content: "\e2ee";
}
.icon-trending_up:before {
	content: "\e2f7";
}
